body {
	font-family: arial;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

p:first-child {
	display: inline;
}

.title_wrapper {
	font-family: "Arial Black", Gadget, sans-serif
}

#title {
	font-size: 36px;
}

#subtitle {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 20px;
}

.announcement_block {

}

.anno_block_heading {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 20;
	border: black solid 3px;
	padding: 10px 0;
}

.gen_list {

}

.gen_list_item {
	font-size: 16px;
}

.gen_anno_title {
	font-weight: bold;
}

.gen_anno_description {

}

#newTimely {
	font-weight: bold;
}

#newTimely li {
	list-style-type: none;
    padding: 0;
    margin: 0;
}

#newTimelyHeading {

}

#impoContinue {

}

#impoContinueHeading {

}

#carColCoun {

}

#carColCounHeading {

}