body {
	background-color: rgb(76,16,9);
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	/*font-family: "lucida grande", tahoma, sans-serif;*/
}

h2{
	margin: .5em 0em;
	font-size: 1.4em;
	text-align: center;
}

/*Main Page CSS*/
.main_wrapper {
	/*background-color: white;*/
	float: left;
	clear: both;
	width:100%;
	margin-top: 40px;
	z-index: 0;
}
.category_title {
	position: fixed;
	padding-left: 1em;
	background-color: rgb(200,200,200);
	width: 15%;
	box-shadow: 0 2px 2px rgb(24,24,24);
	z-index: 50;
	box-sizing: border-box
}

.table_title {
	position: fixed;
	padding-left: 1em;
	background-color: rgb(200,200,200);
	width: 85%;
	box-shadow: 0 2px 2px rgb(24,24,24);
}

.table_title p{
	box-sizing: border-box;
	width: auto;
	float: left;
}

.category_wrapper {
	
	width: 15%;
	box-sizing: border-box;
	float: left;
	overflow: auto;	
}

.category_buttons {
	margin-top: 1em; /*Dis bit no matter, all set w/ javascript*/
	z-index: 40;
}

.category_buttons a {
	text-decoration: none;
	color: black;
}

.category_button {
	list-style: none;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	padding: 1em;
	margin: .25em 0;
	background-color: white;
	opacity: .8;
}

.active_category {
	background-color: rgb(256, 256, 256);
	font-weight: bold;
	opacity: 1;
}

.table_wrapper {
	width: 85%;
	box-sizing: border-box;
	float: right;
	border: 1px solid black;
	overflow: auto;
	z-index: 60
}

#anno_table {
	width: 100%;
	/*margin: 4em 0 1em 0;*/
	border: 1px solid black;
	background-color: #ccc;
	border-collapse: collapse;
	padding-top: .5em;
}
.nice_table {
	width: 100%;
	/*margin: 4em 0 1em 0;*/
	border: 1px solid black;
	
	border-collapse: collapse;
	padding-top: .5em;
}
.nice_table th{
	background-color: #ccc;
	text-align: left;

}
.nice_table td{
	background-color: #fff;
}


.table_spacer{
	height: 4em;
}

.anno_header_row {
	border: 1px solid black;
	background-color: gray;
}

.anno_header {
	padding: .25em;
}

.anno_row {
	border: 1px solid black;
	background-color: white;
}

.anno_row_title {
	padding: .5em;
	width: 20%
}

/*.anno_row_cats {
	padding: .5em;
	width: 55%
}*/


.anno_row_description {
	padding: .5em;
	width: 55%;
	color: gray;
}

.anno_row_end_date {
	padding: .5em;
	width: 13%;
}

.anno_row_edit {
	padding: .5em;
	width: 6%;
}

.anno_row_delete {
	padding: .8em;
	width: 6%;
}

.pag {
	width: 100%;
	float: right;
	clear: both;
	text-align:right;
	box-sizing: border-box;
	margin: 0;
	text-decoration: none;
	padding: .5em 0;
}

.pag li{
	list-style: none;
	display: inline;
	font-size:1em;
	background-color: white;
	border: 1px solid #bbb;
	border-radius: 4px;
	margin: 7px .3em .1em 0em;
	padding: .2em .2em;
}

.pag a:hover{
	color: blue;
}

.pag a{
	text-decoration: none;
	color: black;
}

.table_empty {
	background-color: white;
	padding: .5em;
}

.table_empty td {
	padding: .5em;
}

/*Column stuff, important for settings and new_user (I think)*/
.columns_wrapper{
	float: left;
	clear: both;
	width:100%;
	margin-bottom: 50px;
}

.columns {
	/*max width allows the width to become smaller as the page gets smaller*/
	max-width: 450px;
	margin: 100px auto;
	box-sizing: border-box;
}

/*Header stuff*/
.header{
	background: rgb(150,150,150);
	clear: both;
	float:left;
	width: 100%;
	box-sizing: border-box;
	position: fixed;
	box-shadow: 0 2px 2px rgb(24,24,24);
	z-index:999;
}

.settings_button {
	float: right;
	border-right: 1px solid rgb(200,200,200);
	border-left: 1px solid rgb(200,200,200); /*Temp border*/
	padding: 0;
	margin-right: 10px;
	background-color: ;
	line-height: 0.000001em;
	font-size: 0.000001em;
}
	
.new_user_button {
	float: right;
	font-size:1em;
	background-color: white;
	color: black;
	border: 1px solid #bbb;
	border-radius: 10px;
	display: block;
	margin: 7px 10px .1em 0em;
	padding: .2em .2em;
	text-decoration: none;
}

.new_user_button a {
	text-decoration: none;
	color: black;
}

.new_user_button:hover{
	color: blue;
}

.new_user_button a:hover{
	color: blue;
}

.gen_anno_button {
	float: right;
	font-size:1em;
	background-color: white;
	color: black;
	border: 1px solid #bbb;
	border-radius: 10px;
	display: block;
	margin: 10px 20px .1em 0em;
	padding: .2em .2em;
	text-decoration: none;
}

.gen_anno_button a {
	text-decoration: none;
	color: black;
}

.gen_anno_button:hover{
	color: blue;
}

.gen_anno_button a:hover{
	color: blue;
}

.add_announcements_wrapper {
	float:right;
	height: 40px;
	
	padding: 0 1px;
	padding-left: 5px;
	margin-right: 10px
}

.add_image {
	float: right;
	margin-top: 3px;
	margin-right: 4px;
}

.add_announcements_button {
	float: right;
	font-size:1em;
	background-color: white;
	color: black;
	border: 1px solid #bbb;
	border-radius: 10px;
	display: block;
	margin: 7px .3em .1em 0em;
	padding: .2em .2em;
	text-decoration: none;
}

.add_announcements_button:hover{
	color: blue;
}



.header .logo{
	height: 40px;
	width: auto;
	float: left;
}
.header .beta{
	height: 40px;
	float: left;
	width: auto;

}
.header h1{
margin: 2px 0 0 10px;
font-size: 28px;
float: left;
clear: none;
width: auto;

}

.column{
	border: 3px solid;
	clear: none;
	float: left;
	width: 100%;
	background-color: rgb(150,150,150);
	padding: 15px 30px;
	box-sizing: border-box;
}

label {
	display: block ; 
	float: left;
	width: 100px;/* the length of space between the username/password and the login box*/
	margin: .3em;
}

input[type=checkbox]{
	float: left;
	margin-top: .7em;
}
	

	.settings_button {
		float: right;
		border-right: 1px solid rgb(200,200,200);
		border-left: 1px solid rgb(200,200,200); /*Temp border*/
		padding: 0;
		margin-right: 10px;
		background-color: ;
		line-height: 0.000001em;
		font-size: 0.000001em;
	}
	
	.new_user_button {
		float: right;
		font-size:1em;
		background-color: white;
		color: black;
		border: 1px solid #bbb;
		border-right: 1px solid rgb(200,200,200);
		border-left: 1px solid rgb(200,200,200);
		border-radius: 10px;
		display: block;
		margin: 7px .3em .1em 0em;
		padding: .2em .2em;
		text-decoration: none;
	}
	
	.new_user_button:hover{
		color: blue;
	}
	
	.add_announcements_wrapper {
		float:right;
		height: 40px;
		border-right: 1px solid rgb(200,200,200);
		border-left: 1px solid rgb(200,200,200);
		padding: 0 1px;
		padding-left: 5px;
		margin-right: 10px
	}
	
	.add_image {
		float: right;
		margin-top: 3px;
		margin-right: 4px;
	}
	
	
	.header .buttons a.add_button{
		background:white url("images/add.png") no-repeat left center;
		background-size: 20px;
		padding-left: 25px;
	}
	
	.header .buttons a{
		display: block;
		float: left;
		width: auto;
		clear: none;
		font-size:1em;
		background-color: white;
		color: black;
		border: 1px solid #bbb;
		border-radius: 15px;
		display: block;
		margin: 7px .3em .1em 0em;
		padding: .2em .2em;
		text-decoration: none;
		


	}
	.header .buttons a:hover {
		color: blue;
	}

	.header .buttons{
		float: right;
		clear: none;
		width: auto;

	}

	
		 label {
			display: block ; 
			float: left;
			width: 100px;/* the length of space between the username/password and the login box*/
			margin: .3em;



		}
		input[type=checkbox]{
			float: left;
			margin-top: .7em;

		}
		
				 label.error{
				width:250px;
				font-size: .8em;
			}
			.login input[type=text],
			.login input[type=password]{
				clear: none;
				float: left;
				box-sizing: border-box;
				width: 100%;
				font-size: 1.5em;

			}

			 .row{
					width: 100%;
					clear: both;
					float: left;




			}

			input[type=submit]  {
				font-size:1em;
				border-radius: 15px;
				border: 1px solid #bbb;
				background-color: white;
				color: black;
				display: block;
				padding: .5em .5em;
				margin: .9em 0em;
				cursor: pointer;
				float: right;
			}
			input[type=submit]:hover{
				color: blue;

			}

			
			.logout_button:hover{
				color: blue;	
			}
			


input[type=submit]:hover{
	color: blue;
}







 .new_user #form-wrap {
	max-width: 600px;
	margin: 100px auto;
}

.new_user #categories{
	text-align: left;
	float: left;
	clear: both;
}

.new_user input[type=text], input[type=password]{
	clear: none;
	float: left;
	font-size: 1.5em;
	width: 100%;
	box-sizing: border-box;
}

.new_user .row{
	width: 100%;
	clear: both;
	float: left;
}

#classes_info{
	text-align: left;
}

.settings_columns{
	max-width: 900px;
	margin: 100px auto;
	box-sizing: border-box;
	background-color: rgb(150,150,150);
}

.settings_columns > .inner{
	clear: both;
	float: left;
	width: 100%;
	background-color: rgb(150,150,150);
}

.settings_columns .column{
	float: left;
	border:none;
	border-right: 1px solid #000;
	
}

/*.settings_column1{
	float: left;
	border: 1px solid orange;
	display: block;
	width: 50%;
	height: 100%;
}

.settings_column2{
	border: 1px solid blue;
	float: left;
	display: block;
	width: 50%;
	height: 100%;
}*/

.settings_save_div{
	border-top: 1px black solid;
	display: block;
	float: left;
	padding: 7px;
	width:100%;
	box-sizing: border-box;
}

#settings_save_button{
	margin-right: 30px;
}

.settings_updated_alert {
	color: red;
}

pre {
	width: 100%;
	float: left;
	clear: both;
	color: white;
}



.settings_columns input[type=text]{
	width: 45%;
	box-sizing: border-box;
}
.settings_columns label {
	width: 45%;
	box-sizing: border-box;
	display: block;
}

::-webkit-scrollbar {  
    width: 5px;  
}  
::-webkit-scrollbar-track {  
    background-color: white;  
    border-left: 1px solid #ccc;  
}  
::-webkit-scrollbar-thumb {  
    background-color: gray;  
} 

.number_columns_3 .column {

	width: 33.3%;

}
.number_columns_2 .column{
	width: 50%;
}
#form {
	width: 100%;
}
.inline_checkboxes input[type=checkbox]{
	float: none;


}
.inline_checkboxes{
	margin-top: 1em;
}

/*Create Announcement CSS*/
.create_wrapper {
	margin-top: 40px;
	float:left;
	width: 100%;
}

.create_title {
	padding: 1em;
	background-color: white;
	margin: 0;
	float: left;
	width: 100%;
	box-sizing: border-box;
}

.create_title h1 {
	margin: 0;
	float: left;
}

.add_image_title {
	float: left;
	width: 2.7em;
	height: 2.7em;
	padding: 0 1em 0 0;
}

.anno_form {

}

.anno_left {
	width: 82%;
	float: left;
	background-color: rgb(76,16,9);
	/*border: 1px solid black;*/
	overflow: auto;	
}

.anno_right {
	width: 17.5%;
	float:right;
	background-color: rgb(76,16,9);
	/*border: 1px solid black;*/
	overflow: auto;	
}

.anno_form label {

}

.anno_form input[type=text] {
	
}

.anno_title {
	float:left;
	width: 98.7%;
	padding: 1em 0;
	margin: .5em;
	border-top: 1px solid rgb(200,200,200);
	border-bottom: 1px solid rgb(200,200,200);
	border-radius: 8px;
	background: white /*url(images/gradient-lightgray.png) repeat-x top*/;
}

.anno_title_label {
	font-size: 20px;
	font-weight: bold;
	padding-left: 0;
	margin: 0 .3em 0 1.1em;
	padding-top: .3em;
	padding-bottom: .3em;
	/*border-bottom: 1px solid grey;*/
}

.anno_text_title {
	height: 2em;
	font-size: 16px;
	width: 86%;
}

.anno_description {
	float:left;
	clear: left;
	width: 98.7%;
	margin: .5em;
	border-top: 1px solid rgb(200,200,200);
	border-bottom: 1px solid rgb(200,200,200);
	border-radius: 8px;
	background: white /*url(images/gradient-lightgray.png) repeat-x top*/;
	padding-bottom: .5em;
	/*margin-top: .5em;*/
}

.anno_description_label {
	font-size: 20px;
	font-weight: bold;
	margin-left: 2%;
	width: 96.5%;
	/*border-bottom: 1px solid grey;*/
}

.anno_textarea {
}

#mce_29 {
	width: 97%;
	clear: both;
	margin: 1em 1.5% 0 1.5%;
}

.anno_start_end {
	float:left;
	clear: left;
	width: 98.7%;
	margin: .5em;
	border-top: 1px solid rgb(150,150,150);
	border-bottom: 1px solid rgb(150,150,150);
	border-radius: 8px;
	background-color: rgb(150,150,150);
	/*background: white url(images/gradient-lightgray.png) repeat-x top;*/
}

.anno_start_date {
	float:left;
	width: 95%;
	padding: .5em 0;
	margin: 0 2.5%;
	border: 1px solid rgb(200,200,200);
	border-radius: 6px;
	background: white url(images/gradient-lightgray.png) repeat-x top;
}

.anno_start_date_label {
	width: 20%;
}

.anno_text_start_date {
	height: 1em;
	font-size: 16px;
	width: 75%;
}

.anno_end_date {
	float:left;
	width: 95%;
	padding: .5em 0;
	margin: 0 2.5%;
	border: 1px solid rgb(200,200,200);
	border-radius: 6px;
	background: white url(images/gradient-lightgray.png) repeat-x top;
}

.anno_end_date_label {
	width: 20%;
}

.anno_text_end_date {
	height: 1em;
	font-size: 16px;
	width: 75%;
}

.anno_optional {
	float:left;
	clear: left;
	width: 98.7%;
	padding-bottom: 1em;
	margin: .5em;
	border-top: 1px solid rgb(150,150,150);
	border-bottom: 1px solid rgb(150,150,150);
	border-radius: 8px;
	/*background: white url(images/gradient-lightgray.png) repeat-x top;*/
	background: white;
}

.anno_optional_label{
	font-size: 20px;
	font-weight: bold;
	margin-left: 2.5%;
	margin-top: .5em;
	width: 95%;
}

.anno_date {
	float:left;
	width: 95%;
	padding: .5em 0;
	margin: 0 2.5%;
	border: 1px solid rgb(160,160,160);
	border-radius: 6px;
	background: white url(images/gradient-lightgray.png) repeat-x top;
}

.anno_date_label {
	float:left;
	width: 20%;
}

.anno_text_date {
	height: 1em;
	font-size: 16px;
	width: 75%;
}

.anno_time {
	float:left;
	width: 95%;
	padding: .5em 0;
	margin: 0 2.5%;
	border: 1px solid rgb(160,160,160);
	border-radius: 6px;
	background: white url(images/gradient-lightgray.png) repeat-x top;
}

.anno_time_label {
	float:left;
	width: 20%;
}

.anno_text_time {
	height: 1em;
	font-size: 16px;
	width: 75%;
}

.anno_location {
	float:left;
	width: 95%;
	padding: .5em 0;
	margin: 0 2.5%;
	border: 1px solid rgb(160,160,160);
	border-radius: 6px;
	background: white url(images/gradient-lightgray.png) repeat-x top;
}

.anno_location_label {
	width: 20%;
}

.anno_text_location {
	height: 1em;
	font-size: 16px;
	width: 75%;
}

.anno_cats {
	float: right;
	box-sizing: border-box;
}

.anno_cats_label {
	font-size: 20px;
	font-weight: bold;
	margin: .5em;
	padding: 1em 0;
	width: 93%;
	box-sizing: border-box;
	text-align: center;
	background: white;
	border: 1px solid rgb(200,200,200);
	border-radius: 5px;
}

.cat_div {
	float: left;
	width: 93%;
	box-sizing: border-box;
	margin: .5em;
	background: white;
	border: 1px solid rgb(200,200,200);
	border-radius: 5px;
	padding-bottom: 1em;
}

.cat_label {
	float: left;
	width: 95%;
	font-size: 16px;
	box-sizing: border-box;
	font-weight: bold;
	border-bottom: 1px solid grey;
}

.cat_subtype_label {
	float: left;
	width: 80%;
	box-sizing: border-box;
}

.cat_check {
	float:right;
	box-sizing: border-box;
}

.anno_submit {
	float: left;
	clear: both;
	width: 100%;
	box-sizing: border-box;
}

.anno_submit input[type=text]{
	float: left;
	margin: 
}

.anno_cancel {
	float: right;
}

.anno_cancel a {
	display: block;
	float: right;
	width: auto;
	clear: none;
	font-size:1em;
	background-color: white;
	color: black;
	border: 1px solid #bbb;
	border-radius: 15px;
	display: block;
	margin: 7px .3em .1em 0em;
	padding: .2em .2em;
	text-decoration: none;
}

.anno_cancel a:hover {
	color: blue;
}
/*
. {

}
*/
